/* Generic Classes */

html,
body {
    background-color: #A7C4A0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    color: #37393A;
}

h2, h1 {
    color: #2E303E;
    font-family: 'Montserrat', sans-serif;
}

#myName {
    font-family: 'Montserrat', sans-serif;
    color: #DAD4EF;
    margin: 0 2%;
    font-size: 30px;
}

a:hover {
    color: #DAD4EF;
    text-decoration: none;
}
/* About Me Page */

#aboutMe {
    margin-top: 3%;
    margin-bottom: 4%;
}

.custom-button {
    background-color: #37393A;
    color: #E0E0E2;
    border: none;
}

.custom-button:hover {
    background-color: #DAD4EF;
}

.image-spacing {
    margin: 5%;
}

/* Contact Page */

.main-content {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #DAD4EF;
}

#contact,
#contact:visited {
    color: #37393A;
    text-decoration: none;
}
#contact:hover {
    color: #DAD4EF;
}

/* nav-bar */
.custom-nav,
.navbar-nav,
.collapse {
    background-color: #A7C4A0;
}

.nav-link:hover,
.nav-item:hover {
    color: #DAD4EF;
}

/* Footer */

.custom-footer {
    background-color: #A7C4A0;
    color: #E0E0E2;
    padding: 10px;
    text-align: center;
}

.footer-link {
    color: #37393A;
    margin: 5px;
}

.img {
    float:  left;
    width:  100%;
    height: 100%;
    background-size: cover;
}
