
/* Generic Classes */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/rockywall.png");
    font-family: 'Ibarra Real Nova', serif;
    color: #777777;
}

h2, h1 {
    color: #505160;
    font-family: 'Ibarra Real Nova', serif;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.main-content {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
}

.custom-nav {
    font-family: 'Ibarra Real Nova', serif;
    color: white;
    border-bottom: 1px solid #dddddd;
}

.my-name {
    background-color: #505160;
    padding: 15px 20px;
}

a {
    color: #777777;
    size: 10px;
}

a:hover {
    color: #a43820;
  }

ul > li:not(:last-child) {
    border-right: 1px solid #cccccc;
}

p {
    padding: 0px 30px;
}

.custom-button {
    background-color: #505160;
    color: #ffffff;
    border: none;
}

.portfolio-button {
    width: 200px;
    font-family: 'Ibarra Real Nova', serif;
    border-radius: 0px;
    margin-bottom: 20px;
}

.image-spacing {
    padding: 0px 15px;
}

.custom-footer {
    height: 60px;
    background-color: #505160;
    border-top: 4px solid #cccccc;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .my-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 10px;
    }
    .portfolio-image, .portfolio-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }